<h1>Create A New Group!</h1>

<div>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2>Uh oh!  See below for errors!</h2>

      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @group do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.fields_for :group_members do |group_members| %>
        <%= render 'group_member_fields', f: group_members %>
      <% end %>
      <div class='add-more-group-members'>
        <%= link_to_add_association 'Add Another Group Member', f, :group_members %>
      </div>
    </div>
    <%= f.submit 'Create group' %>
  <% end %>
</div>
