<h1><%= @album.title %></h1>

<p><%= link_to 'Add Image', new_album_image_path(@album) %></p>
<% if @album.member == current_member %>
  <p><%= link_to 'Add Group Access', edit_album_path(@album) %></p>
<% end %>

<div>
  <% @images.each do |image| %>
    <p><%= image.title %></p>
    <p><%= image.date_taken %></p>
    <%= image_tag(image.album_image(:medium)) %>
  <% end %>
</div>
